<div class="masonry" style="padding-left: 70px;" *ngIf="team">
  <div class="item" *ngFor="let player of team.players">
    <div class="backdrop DD">
      <div class="playerPhoto" data-player-id="2964">
        <div class="loadOverlay" style="display: none;">
          <div class="loadOverlayContent">
            <div class="loadAnimate">
            </div>
          </div>
        </div>
        <div class="badges" *ngIf="player.isCaptain">
          <span class="captain"></span>
        </div>
        <div class="badges" *ngIf="player.isViceCaptain">
          <span class="vice-captain">(vc)</span>
        </div>
        <div class="badges" *ngIf="player.isWicketKeeper">
          <span class="wicket-keeper">(wk)</span>
        </div>
        
        <div class="playerImage">
          <img [src]="imgPath(player.imgPath)" appImgCenter onError="this.src='assets/avatar.png'">
        </div>
      </div>

    </div>
    <div class="details">
      <p class="player-name"><strong>{{player.name}}</strong></p>
      <p class="player-name">
        <span  *ngIf="!player.isCaptain && !player.isViceCaptain"> ({{player.businessUnit}})</span></p>
      <span class="season">OCL 2017</span>
     
      <ul class="stats">
        <li> <span class="label">Role</span> <span class="value">{{player.playingRole}}</span> </li>
        <li> <span class="label">Bid</span> <span class="value">{{player.moneySpentOn}}</span> </li>
      </ul>
    </div>
  </div>
</div>