<div class="teamContainer container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="side-nav">
        <nav class="main-menu">
          <ul>
            <li>
              <a >
                        <i class="fa"> I </i>
                        <span class="nav-text">
                            Avengers
                        </span>
                    </a>

            </li>
            <li>
              <a href="#">
                        <i class="fa">II</i>
                        <span class="nav-text">
                            UI Components
                        </span>
                    </a>

            </li>
            <li>
              <a href="#">
                       <i class="fa">III</i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>

            </li>
            <li>
              <a href="#">
                       <i class="fa">IV</i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>

            </li>
            <li>
              <a href="#">
                        <i class="fa">V</i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
            </li>
            <li>
              <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Typography and Icons
                        </span>
                    </a>
            </li>
            <li>
              <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
            </li>
            <li>
              <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
            </li>
            <li>
              <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
            </li>
          </ul>
         
        </nav>
      </div>
      <div class="col-lg-11 right-content">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
             
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
          <div class="backdrop DD">
            <div class="playerPhoto" data-player-id="2964">
              <div class="loadOverlay" style="display: none;">
                <div class="loadOverlayContent">
                  <div class="loadAnimate">
                  </div>
                </div>
              </div>
              <img src="http://iplstatic.s3.amazonaws.com/players/210/2964.png">
            </div>
            <div class="badges">
              <span class="captain"></span>
            </div>
          </div>
          <div class="details">
            <p class="player-name">Khaleel <strong>Ahmed</strong></p>
            <span class="season">OCL 2017</span>
            <ul class="stats">
              <li> <span class="label">Role</span> <span class="value">0</span> </li>
              <li> <span class="label">Bid</span> <span class="value">0</span> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>