<div class="team-item">
  <div class="row">
    <div class="col-sm-2 col-xs-8 vcenter">
      <div class="team-captain-profile">
        <img src="{{teamItem.logoPath}}" alt="Captain">
      </div>
    </div>
    <div class="col-sm-3 col-xs-8 vcenter padding-0 align-left">
      <h4>{{teamItem.name}}</h4>
    </div>
    <div class="col-sm-2 col-xs-8 vcenter">
      <h4>{{teamItem.moneySpent}}</h4>
    </div>
    <div class="col-sm-2 col-xs-8 vcenter padding-0"><input type="text" class="form-control" placeholder="bid amount"></div>
    <div class="col-sm-2 col-xs-8 vcenter padding-0"><button type="submit" class="btn btn-success">Add Player</button>
    </div>
  </div>
</div>