.team-item
{
    padding: 4px 0;
}

.auction-stats-container.full-screen .team-item
{
    width: 50%;
    float: left;
}

.team-captain-profile
{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.team-player-count
{
    position: absolute;
    top: -8px;
    right: 3px;
    font-weight: bold;
    color: gold;
    font-size: 20px;
}



