<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="player-container scalable-container" [class.full-screen]="isFullScreen">
        <div class="scale-icon pointer">
          <span class="glyphicon glyphicon-resize-full" *ngIf="!isFullScreen" (click)="onExpand()"></span>
          <span class="glyphicon glyphicon-resize-small" *ngIf="isFullScreen" (click)="onMinimize()"></span>
        </div>
        <div class="content">
          <div class="img-section">
            <div class="profile-pic-container">
              <img src="assets/avatar.png" alt="player">
            </div>
          </div>
          <div class="detail-section">
            <div class="name">
              <h2>Player Name</h2>
              <h5>(All-Rounder)</h5>
            </div>
            <div class="details">
              <h4>Left Handed Batsman</h4>
              <h4>Right Arm Off-Break Bowler</h4>
              <h5>Not Available on 1-Nov-2017, 8-Nov-2017</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>