<div class="container-fluid" *ngIf="player != null && player.teamId == 0">
  <div class="row">
    <div class="col-md-12">
      <div class="player-container scalable-container" [class.full-screen]="isFullScreen">
        <div class="scale-icon pointer" (click)="onResize()">
          <span class="glyphicon glyphicon-resize-full" *ngIf="!isFullScreen"></span>
          <span class="glyphicon glyphicon-resize-small" *ngIf="isFullScreen"></span>
        </div>
        <div class="content">
          <div class="img-section">
            <div class="profile-pic-container">
              <img src="{{player.imgPath}}" appImgCenter #playerImage alt="player" onError="this.src='assets/avtar.png'">
            </div>
          </div>
          <div class="detail-section">
            <div class="name">
              <h2>{{player.name}}</h2>
              <h5>({{player.businessUnit}})</h5>
            </div>
            <div class="details">
              <h4>{{player.playingRole}}</h4>
              <h4>{{player.battingStyle}}</h4>
              <h4 *ngIf="player.bowlingStyle != 'NULL'">{{player.bowlingStyle}}</h4>
              <div [ngClass]="{'red-bg' : !isAvailable()}">
                <h5>{{player.availability}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>