<div class="container-fluid" *ngIf="player">
  <div class="row">
    <div class="col-md-12">
      <div class="player-container scalable-container" [class.full-screen]="isFullScreen">
        <div class="scale-icon pointer">
          <span class="glyphicon glyphicon-resize-full" *ngIf="!isFullScreen" (click)="onExpand()"></span>
          <span class="glyphicon glyphicon-resize-small" *ngIf="isFullScreen" (click)="onMinimize()"></span>
        </div>
        <div class="content">
          <div class="img-section">
            <div class="profile-pic-container">
              <img src="{{player.imgPath}}" alt="player">
            </div>
          </div>
          <div class="detail-section">
            <div class="name">
              <h2>{{player.name}}</h2>
              <h5>({{player.businessUnit}})</h5>
            </div>
            <div class="details">
              <h4>{{player.playingRole}}</h4>
              <h4>{{player.battingStyle}}</h4>
              <h4>{{player.bowlingStyle}}</h4>
              <h5>{{player.availability}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>